
.title{
  margin: 250px 0 0px 0px;
  font-size: 2.7rem;
  font-weight: 1000;
  text-align: center;
  /* background-color: black; */
}

.text {
  margin: 20px 0 50px 0px;
  font-size: 1.8rem;
  color: rgb(106, 105, 105);
  text-align: center;
  /* background-color: rgb(124, 232, 131); */
}


.productWrap {
  display: flex;
  width: 100%;
  height: 100%;
  /* background-color: navy; */
  justify-content: center;
  align-items: center;
} 



.container{
  position: relative;
  margin: 100px 0px 0px 0px ;
  width: 1400px;
  height: 100%;
  background-color: skyblue;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  /* flex: 1 1 30%; */
}

.box {
  margin: 50px 0 50px 0px;
  /* position: absolute; */
  width: 360px;
  height: 360px;
  overflow: hidden;
  background-color: rgb(147, 61, 61);
  padding: 10px 10px 10px 10px;
 
}

 .thumnail {
  /* position: absolute; */
  /* margin: 10px 10px 10px 10px; */
  width: 100%;
  height: 100%;
  object-fit: contain;


 }

.info {
  margin: 0 0 20px 0px;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 700;
}