/* .productWrap {
    margin: 50px 0 0 250px;
    width: 100px;
    height: 100px;
    background-color: black;
    overflow: hidden;
    border-radius: 20px;

} */

/* .thumbnail {
    width: 350px;
    height: 250px;
    object-fit: cover;
    flex: none;
    
} */

.info {
    

}