.mapServiceSection {
    margin: 250px 0px 0px 0x;

}

.titleWrap {
    /* background-color: black; */


}

.title h1 {
    margin: 250px 0 30px 0px;
    font-size: 2.5rem;
    font-weight: 1000;
    text-align: center;
}

.title h2 {
    margin: 0px 0 30px 0px;
    font-size: 1.6rem;
    color: rgb(106, 105, 105);
    text-align: center;
}


.searchBarWrap {
    display: flex;
    margin-top: 60px;
    margin-left: 36%;
    padding-left: 8%;
    width: 500px;
    height: 80px;
    justify-content: inline;
    align-items: center;
    /* background-color: rgb(180, 85, 166); */
    border: 5px solid;
    border-color: #FFC23C;
    border-radius: 20px;

}


.searchBar {
    font-size: 1.5rem;
    width: 400px;
    height: 60px;
}

.icon {
    margin-bottom: 0px;
    width: 50x;
    height: 50px;
}

.tagWrap {
    margin-left: 34%;
    align-items: center;
    width: 700PX;
    /* background-color: rgb(213, 150, 78);  */
}

.tagWrap button {
    margin: 3% 0 3% 5%;
    padding: 1%;
    list-style: none;
    justify-content: space-between;
    width: 70px;
    height: 40px;
    font-size: 0.8rem;
    background-color: #D9D9D9;
    border-color: #d9d9d900;
    border-radius: 5px;

}

/* .mapWrap {
    align-items: center;
    display: flex;
    background-color: skyblue;
    flex-direction: column;
}

.pin {
   
    width: 300px;
    height: 300px;
}

.mapPaper {
   
    width: 500px;
    height:500px;
} */