.headerBottomContainer {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerBottomContainer nav.navigation ul {
  display: flex;
  justify-content: end;
  align-items: center;
}


.headerBottomContainer nav.navigation ul li {
  list-style: none;
  padding: 25px 50px;
}

.headerBottomContainer nav.navigation ul li:last-child {
  padding-right: 0px;
}

.headerBottomContainer nav.navigation ul li a {
  text-decoration: none;
  color: #222;
  font-size: 1.4rem;
  font-weight: 500;
  transition: 0.5s;
}

.headerBottomContainer nav.navigation ul li a:hover {
  color:#FFC23C;
  transition: 0.5s;
}

.headerBottomContainer .logo {
  width: 180px;
  margin-left: 3%;
}

.headerBottomContainer .logo img {
  width: 100%;
  height: auto;
}