.headertop {
    position: fixed;
    top: 0; left: 0;
    height: 30px;
    width: 100%;
    background-color: #ddd;
  }

  .contents {
    display: flex;
    width: 96%;
    height: 100%;
    margin:0 auto;
    padding: 5px 14px;
    align-items: center;
    justify-content: space-between;
    }
    
    
    .navigation ul{
        display: flex;
        list-style: none;
    }
    
    .navigation li{
      
            display: inline;
            margin-top: 30px;
            margin-right: 10px;
       
    }