.header {
    position: fixed;
    top: 0px; 
    left: 0;
    height: 40px;
    width: 100%;
    background-color: #d6a9a9;
  }

  .contents {
    display: flex;
    width: 96%;
    max-width: 1100px;
    height:100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
  }