.header{
    display: flex;
    justify-content: space-between;
    background: #f6f5ef;
    border-bottom: 1px solid #e5e5e5;
    height: 80px;
    left: 0px ;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
   
}



.contents {
display: flex;
width: 96%;
height: 100%;
margin:0 auto;
padding: 5px 14px;
align-items: center;
justify-content: space-between;
}


.navigation ul{
    display: flex;
    list-style: none;
}

.navigation li{
  
        display: inline;
        margin-top: 30px;
        margin-right: 10px;
   
}