.mainbanner {

margin:50px 0 0 250px;
  width: 670px;
  height: 320px;
  overflow: hidden;
  border-radius: 20px;
}

.flexbox {
    display: flex;
  }
  
  .img {
    width: 350px;
    height: 250px;
    object-fit: cover;
    flex: none;

  }